[Unit]
Description=Experimento 3 Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python -u /home/ec2-user/codigo-sd/experimento3/udpReceiver.py
StandardInput=tty-force

# Automatically restart the service if it crashes
Restart=on-failure

# set Python's buffering of STDOUT and STDERR value to systemd, so that output from the
# service shows up immediately in systemd's logs
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 
